In [1]:
import pandas as pd

In [18]:
data = pd.read_csv("k1.csv", names=["age","wife_ed","husb_ed","no_kids","wife_rel","wife_works",
    "husb_occupation","SOL_index","media_exp","class"])

In [19]:
newd = data
for col in data.columns[:-1]:
    newd[f"{col}_min"] = data[col]
    newd[f"{col}_max"] = data[col]
    newd = newd.drop(col, axis=1)
    
y = newd["class"]
newd = newd.drop("class", axis=1)
newd["class"] = y
newd

,age_min,age_max,wife_ed_min,wife_ed_max,husb_ed_min,husb_ed_max,no_kids_min,no_kids_max,wife_rel_min,wife_rel_max,wife_works_min,wife_works_max,husb_occupation_min,husb_occupation_max,SOL_index_min,SOL_index_max,media_exp_min,media_exp_max,class
0,24,24,2,2,3,3,3,3,1,1,1,1,2,2,3,3,0,0,1
1,45,45,1,1,3,3,10,10,1,1,1,1,3,3,4,4,0,0,1
2,43,43,2,2,3,3,7,7,1,1,1,1,3,3,4,4,0,0,1
3,42,42,3,3,2,2,9,9,1,1,1,1,3,3,3,3,0,0,1
4,36,36,3,3,3,3,8,8,1,1,1,1,3,3,2,2,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1882,39,39,4,4,4,4,2,2,0,0,0,0,1,1,3,3,0,0,3
1883,24,24,1,1,2,2,3,3,1,1,1,1,3,3,2,2,0,0,3
1884,27,27,4,4,4,4,4,4,1,1,1,1,2,2,3,3,0,0,3
1885,35,35,1,1,2,2,4,4,1,1,1,1,2,2,1,1,1,1,3
1886,35,35,4,4,4,4,3,3,1,1,1,1,1,1,4,4,0,0,3

In [20]:
newd.to_csv("k1_minmaxed.csv")